@import url("https://fonts.googleapis.com/css?family=Bowlby+One+SC&display=swap");

* {
  box-sizing: border-box;
  /* transition-duration: 100ms;
  transition-property: all;
  transition-timing-function: ease-in-out; */
}

body,
html {
  margin: 0;
  height: 100%;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: "Bowlby One SC", cursive;
}

input {
  font-family: monospace;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9rem;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  min-height: 100vh;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}

.another-layer {
  max-width: 90vw;
  background-color: rgba(255, 255, 255, 0.65);
  padding: 1rem 2rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 16px black;
}

.apply-effect-here {
  mix-blend-mode: normal;
  background: url("https://images.unsplash.com/photo-1483729558449-99ef09a8c325?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEzMDA0fQ&auto=format&fit=crop&w=1950&q=80")
    no-repeat center center fixed;
  background-size: cover;
  min-height: 50vh;
  min-width: 100%;
}

.layer-title {
  text-rendering: optimizeLegibility;
  word-spacing: 5px;
  margin: 0;
  font-size: 3rem;
  text-shadow: 0 0 0.25rem rgba(39, 0, 255, 0.6);
  line-height: 0.8;
  border-bottom: 8px solid rgba(39, 0, 255, 0.23);
}

.effect-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}

.effectButton {
  cursor: pointer;
  color: white;
  margin: 6px;
  padding: 1rem;
  border-radius: 6px;
  font-weight: bold;
  background-color: rgba(39, 0, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.4);
  transition-duration: 200ms;
  transition-property: all;
  transition-timing-function: ease-in-out;
}

.effectButton:focus {
  background-color: crimson;
  color: whitesmoke;
}

.effectButton:hover {
  background-color: rgba(0, 0, 0, 0.6);
  border: 2px solid white;
}

.upload-input {
  margin-top: 1rem;
}

@media screen and (max-width: 600px) {
  .layer-title {
    font-size: 1.2rem;
    margin-top: 1rem;
  }
  .another-layer {
    padding: 0.25rem 0.5rem;
  }
  .effect-row {
    margin-top: 0.25rem;
  }
  .effectButton {
    padding: 0.25rem;
  }
}
